body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #3a0ca3, #7209b7, #f72585);
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 50px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
